@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h2>YMCA</h2>



    </div>


    <script src="~/js/"></script>

</div>
